* {
  // text-align: center;
  font-family: 'Raleway', sans-serif;
}

body {
  // background-color: black;
  // color: white;
}

#loginBody {
  margin-left: 80px;
  background-color: white;
  color: gray;
}

#profileBody {
  color: teal;
  text-align: center;
}

img {
  max-height: 200px;
  max-width: 200px;
}
div.input-field.col.s6 {
  display: inline-block;
  max-width: 300px;
  // margin-left: 300px;
  // text-align: center;
}

.title {
  font-size: 4rem;
  padding-top: 40px;
  padding-left: 40px;
}
.subTitle {
  font-size: 2rem;
}

.top {
  background-color:gray;
  color: white;
  height: 200px;
}

.label {
  display: inline-block;
  margin-bottom: 15px;
}

.profInfo {
  display: inline-block;

}
nav {
  background-color: teal;
}

.col-l6{
  width: 50%;
}
