<h2>Messaging</h2>

<ul>
  <li ng-repeat="user in users">{{user | json}}</li>
</ul>

<div>
  selected: {{selected}}
</div>

<form name"messageForm" ng-submit='send()'>

  <select name="recipient" id="recipient" required
  ng-options="user.username for user in users"
  ng-model="message.to"></select>

  <select name="recipient" id="recipient" required
  ng-model="selected2"></select>
  <option  ng-repeat='user in users' value="{{user._id}}">{{user.username}}}</option>

  <textarea name="body" id="" cols="30" rows="10" ng-model="message.body"></textarea>

  <button>Send</button>
</form>