<h1>Welcome!</h1>

<div ng-hide="viewEdit">

<label for="">Photo</label>
<img ng-src={{user.photo}}>

<label for="">Name</label>
<div ng-model="user.name">{{user.name}}</div>

<label for="">Email:</label>
<div ng-model="user.email">{{user.email}}</div>

<label for="">Username:</label>
<div ng-model="user.username">{{user.username}}</div>

<button ng-click="viewEditForm(user)">Update Profile</button>
</div>


<div class="card" ng-show="viewEdit">

<form ng-submit="saveEdit(saveEdit)">

  <label for="">Photo</label>
  <input ng-model="user.photo">

  <label for="">Name</label>
  <input ng-model="user.name">

  <label for="">Email:</label>
  <input ng-model="user.email">

  <label for="">Username:</label>
  <input ng-model="user.username">

  <label for="">Password:</label>
  <input ng-model="user.password">


  <button>Submit</button>

</form>

</div>